<!DOCTYPE html>
<html>
<head>
    <title>SecureScan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<!-- 🔝 NAVBAR -->
<div class="navbar">
    <div class="nav-left">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
        <span class="brand">Secure Scan</span>
    </div>

    <div class="nav-right">
        <a href="/history" class="nav-link">Scan History</a>

        {% if username %}
        <div class="user-box">
            👤 {{ username }}
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>