<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="login-body">

<div class="login-container">

    <h2>Reset Password</h2>
    <p class="subtitle">Enter your email and new password</p>

    <form method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="New Password" required>
        <button type="submit" class="login-btn">Update Password</button>
    </form>

</div>

<!-- POPUP -->
{% if error %}
<div class="popup-overlay">
    <div class="popup-box">
        <p>{{ error }}</p>
        <button onclick="this.parentElement.parentElement.style.display='none'">OK</button>
    </div>
</div>
{% endif %}

{% if success %}
<div class="popup-overlay">
    <div class="popup-box">
        <p>{{ success }}</p>
        <button onclick="window.location.href='/login'">OK</button>
    </div>
</div>
{% endif %}

</body>
</html>