{% extends "base.html" %}

{% block content %}

<!-- BACK BUTTON -->

<div class="back-btn">
    <a href="/dashboard">← Back to Dashboard</a>
</div>

<!-- TITLE -->

<div class="title-container">
    <div class="title-line"></div>
    <h2 class="checker-title">SCAN HISTORY</h2>
    <div class="title-line"></div>
</div>

<!-- PAGE INFO -->

<div class="page-info">
    Page {{ page }} of {{ total_pages }} (Results {{ start }}–{{ end }} of {{ total }})
</div>

<!-- TABLE -->

<div class="history-table-wrapper">
    <table class="modern-table full-width-table">
        <tr>
            <th>Date/Time</th>
            <th>Tool</th>
            <th>Result</th>
            <th>Action</th>
        </tr>

    {% for scan in scans %}
    <tr>
        <td>{{ scan.created_at }}</td>
        <td>{{ scan.tool_type }}</td>
        <td>{{ scan.result }}</td>

        <td>
            <form method="POST" action="/delete-history/{{ scan.id }}" class="delete-form" onsubmit="return confirm('Delete this record?')">
                <button type="submit" class="actiob-btn delete-btn">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

</div>

<!-- ACTION BUTTONS -->

<div class="history-actions">

<a href="/download-history" class="download-btn">
    Download Full History
</a>

<form method="POST" action="/delete-all-history"
      onsubmit="return confirm('Delete ALL history? This cannot be undo!')">
    <button type="submit" class="action-btn delete-all-btn">
        Delete All History
    </button>
</form>

</div>

<!-- PAGINATION BUTTONS -->

<div class="pagination">
    {% if page > 1 %}
        <a href="/history?page={{ page-1 }}" class="page-btn">« Prev</a>
    {% endif %}

{% for p in range(1, total_pages+1) %}
    <a href="/history?page={{ p }}" 
       class="page-btn {% if p == page %}active-page{% endif %}">
       {{ p }}
    </a>
{% endfor %}

{% if page < total_pages %}
    <a href="/history?page={{ page+1 }}" class="page-btn">Next »</a>
{% endif %}

</div>

{% endblock %}
