{% extends "base.html" %}
{% block content %}

<div class="back-btn">
    <a href="/dashboard">← Back to Dashboard</a>
</div>

<!-- TITLE -->

<div class="title-container">
    <div class="title-line"></div>
    <h2 class="checker-title">PASSWORD CHECKER TOOL</h2>
    <div class="title-line"></div>
</div>

<!-- CONTENT -->

<div class="checker-container">

<form method="POST">
    <label class="input-label">Password:</label>
    <input type="text" name="password" placeholder="Enter password" required>

    <button type="submit" class="main-btn">Check</button>
</form>

<!-- GENERATOR -->
<div class="generator-box">
    <button onclick="generatePassword()" class="main-btn">Generate Strong Password</button>

    <div id="generatedBox" style="display:none;">
        <input type="text" id="generatedPassword" readonly>
        <button onclick="copyPassword()" class="copy-btn">Copy</button>
        <p id="copyMsg" class="copy-msg"></p>
    </div>
</div>

{% if result %}
<div class="result-box">
    <p><strong>Strength:</strong>
        <span class="{{ color }}">{{ result }}</span>
    </p>

    <div class="bar">
        <div class="bar-fill {{ color }}-bar" style="width: {{ score*25 }}%"></div>
    </div>

    <div class="why-box">
        <strong>Why This Matters:</strong>
        <p>{{ why }}</p>
    </div>

    <button onclick="downloadReport()" class="main-btn">Download Report</button>
</div>
{% endif %}

</div>

<script>
function generatePassword() {
    const chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*";
    let pass = "";
    for (let i = 0; i < 12; i++) {
        pass += chars[Math.floor(Math.random() * chars.length)];
    }

    document.getElementById("generatedBox").style.display = "block";
    document.getElementById("generatedPassword").value = pass;
}

function copyPassword() {
    const input = document.getElementById("generatedPassword");
    input.select();
    document.execCommand("copy");

    document.getElementById("copyMsg").innerText = "Password copied!";
}

function downloadReport() {
    const result = "{{ result }}";
    const why = "{{ why }}";
    const input = document.querySelector("input").value;
    const tool = "{{ request.path }}";

    window.location.href = `/download-report?tool=${tool}&input=${input}&result=${result}&why=${why}`;
}

{% if error == "LIMIT_REACHED" %}
    alert("Guest limit reached (5 scans). Please login or register.");
    window.location.href = "/login";
{% endif %}

</script>

{% endblock %}
