{% extends "base.html" %}
{% block content %}

<div class="back-btn">
    <a href="/dashboard">← Back to Dashboard</a>
</div>

<div class="title-container">
    <div class="title-line"></div>
    <h2 class="checker-title">PHISHING DETECTION TOOL</h2>
    <div class="title-line"></div>
</div>

<div class="checker-container">

<form method="POST">
    <label class="input-label">Website URL:</label>
    <input type="text" name="url" placeholder="Enter URL" required>

    <button type="submit" class="main-btn">Scan</button>
</form>

{% if result %}
<div class="result-box">
    <p><strong>Result:</strong>
        <span class="{{ color }}">{{ result }}</span>
    </p>

    <div class="bar">
        <div class="bar-fill {{ color }}-bar" style="width: 60%"></div>
    </div>

    <button onclick="downloadReport()" class="download-btn">Download Report</button>
</div>
{% endif %}

</div>

{% endblock %}
