<!DOCTYPE html>
<html>
<head>
    <title>Phishing Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h2>Phishing Link Detector</h2>

<form method="POST">
    <input type="text" name="url" placeholder="Enter URL" required>
    <button type="submit">Scan</button>
</form>

{% if error %}
    <p style="color: red; font-weight: bold;">{{ error }}</p>
{% endif %}

<br>

{% if result %}
    <h3 style="color: {{ color }};">Result: {{ result }}</h3>

    <button onclick="downloadReport()">Download Report</button>
{% endif %}

{% if why and session.get('user_id') %}
    <p><strong>Why This Matters:</strong></p>
    <p>{{ why }}</p>
{% endif %}

<br>
<a href="/dashboard">Back to Dashboard</a>

<script>
function downloadReport() {
    const isGuest = {{ 'true' if is_guest else 'false' }};

    if (isGuest) {
        let confirmLogin = confirm("Please login to download report. Go to login page?");

        if (confirmLogin) {
            window.location.href = "/login";
        }
    } else {
        window.location.href = "/download-report?tool=Phishing Detector&input={{ last_input }}&result={{ result }}&why={{ why }}";
    }
}
</script>

</body>
</html>